<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <title>Covid19</title>

    </head>

    <body>

        <table class="table table-bordered border-primary table-hover">
            <thead>
                <tr>
                    <th scope="col">S.no</th>
                    <th scope="col">Date</th>
                    <th scope="col">Total Confirmed</th>
                    <th scope="col">Total Deaths</th>
                    <th scope="col">Total Recovered</th>
                </tr>
            </thead>
            
            <tbody>
                {% for c in data %}
                <tr>
                    <th class="text-center">{{forloop.counter}}</th>
                    <td class="text-center">{{c.Date}}</td>
                    <td class="text-center">{{c.Confirmed}}</td>
                    <td class="text-center">{{c.Deaths}}</td>
                    <td class="text-center">{{c.Recovered}}</td>
                </tr>
                {% endfor %}





                
            </tbody>
        </table>
        





        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>

    </body>
    

</html>
